[submodule "treasury-contracts"]
	path = treasury-contracts
	url = https://github.com/SundaeSwap-finance/treasury-contracts.git
[submodule "frontend/elm-cardano"]
	path = frontend/elm-cardano
	url = https://github.com/elm-cardano/elm-cardano.git
